@charset "UTF-8";
body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing:border-box;
}
#pic{
    float: left;
}
#div1{
    width:200px;
    height:200px;
    border:1px solid #ccc;
    margin-top:15px;
    background-size:cover;
    float: left;
    clear: left;
}
